<div>
  <br><br><br><br>
  <p>Hello, <%= @owner.username  %>! 
  <p>Manage your account</p>
  <div>Username: <%= @owner.username%></div>
  <div>First Name: <%= @owner.firstname%></div>
  <div>Last Name: <%= @owner.lastname%></div>
  <div>Password: ********** (Add a chnage button so that you can update your password</div> 
  <div>ISSUES BUTON HERE TO GO TO ALL OF THE ISSUES WORKING ON</div>
</div>
