<div>
  <br><br><br><br>
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="http://via.placeholder.com/318x180" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><%= @issue.name %></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= @issue.address %><br></h6>
        <p class="card-text"><%= @issue.detail %></p>
        <h4><%= @issue.status %></h4><a href="" class="button">Edit Status</button><br>
        <a href="#" class="btn btn-primary">More Details</a>
      </div>
    </div>
</div>

