<div>
  <p>Report an Issue</p>
  <form>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="address" placeholder="address">
    <input type="text" name="detail" placeholder="details">
  </form>
  <p>Pending Issues</p>
  <%issues.each do |issue|%>
  <%%>
</div>
