<div>
  <br><br><br><br>
  <p>Hello, <%= @user.username  %>! 
  <p>Manage your account</p>
  <div>Set a reminder for when your rent is due.(want to add this if I have time.)</div>
  <div>Username: <%= @user.username%></div>
  <div>First Name: <%= @user.firstname%></div>
  <div>Last Name: <%= @user.lastname%></div>
  <div>Password: ***********</div>
</div>
