<div class="landing-page">
  <div class="logo-wrapper">
    <%= image_tag("round-logo.svg", class: "round-logo" ) %>
  </div>
  <div class="button-wrapper">
    <a href="/users/new" class="btn btn-secondary">Tenant</a>
    or
    <a href="/owners/new" class="btn btn-secondary">Landlord</a>
  </div>
</div>