<div>
  Keep your list of properties up to date so that Tenants can keep in contact about them.
  <%= form_for(@property) do |f| %>

    <div class="field">Address: <%= f.text_field :address %></div>
    <%= f.submit :create, class: "btn btn-primary" %>

  <% end %>

</div>
